.footer {
  width: 100%;  
  box-sizing: border-box;
  font: 16px "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #DCDCDC;  
  padding: 1rem;
}

.form-text > p{
    color: black;
}

.image{
    margin-left: 1000px;
}
