.side-drawer {
    height: 100%;
    background: #fff;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }

  .menuItem{
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
  }

  .menuItemlast{
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0.5rem 0;
    padding-top: 8px;
    padding-bottom: 12px;
    margin-block-start: 1em;
    padding-inline-start: 40px;
    color: rgba(0,0,0,0.87);
  }

  .menuItem > a{
    margin-bottom: 0px;
  }

  .menuItemlast > a{
    margin-bottom: 0px;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .ActionMenu{
    height: 130px;
    margin-top: 75px;
    width: auto;
    background: #49a942;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    min-height: 100px;
    font-weight: bold;
    padding: 8px;
  }

  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  
  .side-drawer li {
    margin: 0.5rem 0;
  }
  
  .side-drawer a {
    color:rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: 17px;
    padding-top: 8px;
  }
  
  .side-drawer a:hover,
  .side-drawer a:active {
    text-decoration: none;
  }
  
  @media (min-width: 769px) {
      .side-drawer {
          display: none;
      }
  }