.nsListText{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 13px;
}

.modal-title{
    color:#49a942;
}

.englishText{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 13px;

}

.healthText{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 13px;
}

.charText{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 13px;
}

.ausValueText{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 13px;
}